body {
    font-family: Arial, sans-serif;
    background: url('background.jpg') no-repeat center center fixed;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 350px;
    width: 100%;
    padding: 2em;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #34C759;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

h2 {
    text-align: center;
    color: white;
}

label {
    display: block;
    margin-top: 10px;
    color: white;
}

input[type="text"], input[type="password"], input[type="tel"], select {
    width: 100%;
    padding: 12px;
    margin: 5px 0 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

p {
    text-align: center;
    margin-top: 1em;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.error-message {
    color: red;
    background-color: #f2dede;
    padding: 10px;
    border: 1px solid #ebccd1;
    border-radius: 4px;
    margin-bottom: 15px;
    text-align: center;
}

.error-button {
    background-color: #d9534f;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 10px;
    display: block;
    margin: 0 auto;
}

.error-button:hover {
    background-color: #c9302c;
}
